<!DOCTYPE html>
<html lang="en">
<head>
	<title>Web rau củ quả</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets_user/template/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="container-login100" style="background: linear-gradient(green, yellow);">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<div class="login100-form validate-form" >
				<span class="login100-form-title p-b-37">
                    Nhập Mật khẩu mới của bạn
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter password">
					<input id="input-password" class="input100" type="text" name="password" placeholder="password">
					<span class="focus-input100"></span>
				</div>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn btn btn-success" onclick="authPassword()">
						Xác nhận
					</button>
                </div>
                <br>
				<div class="text-center">
					<a href="/page/login" class="txt2 hov1">
						Trở về 
					</a>
				</div>
			</div>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/assets_user/template/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets_user/template/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets_user/template/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets_user/template/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets_user/template/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets_user/template/vendor/daterangepicker/moment.min.js"></script>
	<script src="/assets_user/template/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/assets_user/template/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/assets_user/template/js/main.js"></script>
    <script>
        function authPassword(){
            const password = $('#input-password').val();
            const url = new URL(location.href);
            const token = url.searchParams.get('token');
            $.ajax({
                url:'/user/xac-thuc-mat-khau/'+token,
                method:'post',
                dataType:'json',
                data:{
                    password:password,
                },
                success:(res)=>{
                    alert(res.message);
                    location.replace('/');
                },
                error: (err)=>{
                    alert(err);
                }
            })
        }
    </script>

</body>
</html>