<!DOCTYPE html>
<html lang="en">
<head>
	<title>Web rau củ quả</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets_user/template/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets_user/template/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets_user/template/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="container-login100" style="background: linear-gradient(green, yellow);">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<div class="login100-form validate-form" >
				<span class="login100-form-title p-b-37">
					Thay đổi thông tin
				</span>
				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input id="input-current-password" class="input100" type="password" name="password" placeholder="Mật khẩu hiện tại">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input id="input-new-password" class="input100" type="password" name="password" placeholder="Mật khẩu mới">
					<span class="focus-input100"></span>
				</div>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn btn btn-success" onclick="handleChangePassword()">
						Thay đổi
					</button>
                </div>
                <br>
			</div>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
	<script src="/assets_user/template/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script>
        function handleChangePassword(){
			let Oldpassword = $('#input-current-password').val();
			let newPassword = $('#input-new-password').val();
			if(Oldpassword===newPassword){
				alert('Mật khẩu mới không được giống mật khẩu đã sử dụng');
				let newPassword = $('#input-new-password').val('');
			}
			else{
				$.ajax({
                url:'/user/doi-mat-khau',
                method:'post',
                dataType:'json',
                data:{
                    email : JSON.parse(localStorage.getItem('user')).email,
					currentPassword : Oldpassword,
					newPassword : newPassword
                },
                success:(res)=>{
                   if(res.data!=null)
                   {
					   alert('Bạn đã thay đổi thay đổi mật khẩu thành công')
                       window.location.replace('/');
                   }
                   else
                   {
					   alert('Thay đổi mật khẩu không thành công');
					   window.location.replace('/')
                   }
                },
                error: (err)=>{
                    alert(err);
                }
            })	
			}
        }
    </script>

</body>
</html>