<div class="intro_page wrap">
        <div class="container">
            <div class="title_intro_page text-center">
                <h4 class="text-center mt-3"> WELCOME TO FRUIT STORE </h4>
                <small class="font-italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem,
                    maiores
                    corporis
                    consequatur expedita illo ipsa molestias, vero doloremque iusto dignissimos</small>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6" style="color: #686868;">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla nobis dignissimos enim quo?
                        Expedita,
                        similique dolor est numquam ipsum mollitia aspernatur iste ipsa optio at sunt dolore iure
                        inventore
                        distinctio!</p>

                    <span style="margin:1.2em">
                        <i class="fa fa-quote-left" aria-hidden="true"></i> <i>Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Fusce vel venenatis eros. Integer ultricies dapibus nulla, ac malesuada
                            erat
                            pulvinar eget. </i> <i class="fa fa-quote-right" aria-hidden="true"></i>
                    </span>
                    <p class="mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla nobis dignissimos
                        enim
                        quo? Expedita, similique dolor est numquam ipsum mollitia aspernatur iste ipsa optio at sunt
                        dolore
                        iure inventore distinctio</p>
                </div>
                <div class="col-lg-6">
                    <img class="max-width-img"
                        src="https://ocsolutions.co.in/html/organic_food/images/about/lemon-banner.png" alt="">
                </div>
            </div>
        </div>
        <div class="container-fluid mb-5">
            <div class="testimonial">
                <h5 class="text-center p-5" style="font-weight:bold"> Lorem Lorem </h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 text-center mb-3">
                                <img class="max-img"
                                    src="https://ocsolutions.co.in/html/organic_food/images/header3/test1.png" alt="">
                            </div>
                            <div class="col-lg-9">
                                <span style="margin:1.2em">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i> <i>Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Fusce vel venenatis eros. Integer ultricies dapibus
                                        nulla, ac malesuada erat pulvinar eget. </i> <i class="fa fa-quote-right"
                                        aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 text-center mb-3">
                                <img class="max-img"
                                    src="https://ocsolutions.co.in/html/organic_food/images/header3/test1.png" alt="">
                            </div>
                            <div class="col-lg-9">
                                <span style="margin:1.2em">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i> <i>Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Fusce vel venenatis eros. Integer ultricies dapibus
                                        nulla, ac malesuada erat pulvinar eget. </i> <i class="fa fa-quote-right"
                                        aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="container text-center">
            <h5>OUR TEAM MEMBER</h5>
            <small class="font-italic">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur modi eos ratione laudantium sit
                deserunt
            </small>
            <div class="row m-4">
                <div class="col-lg-4">
                    <img class="max-width-img"
                        src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.0-9/p960x960/65420286_619457035240887_7144512740655104000_o.jpg?_nc_cat=101&_nc_ohc=QdXYcLX6XnMAQnyhd8WpPRGMCenWavqbnzgQJm_jye-uTSGtAUczFVgDw&_nc_ht=scontent.fsgn2-4.fna&oh=451b441c525d12d485d687976efd9cae&oe=5E8BF0DC"
                        alt="">
                    <p style="font-weight: bold;">Đoàn Xuân Dũng</p>
                    <p style="color: #686868; font-weight: bold; text-decoration: underline;">17520373</p>
                    <div class="icon_team_member d-inline">
                        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="max-width-img"
                        src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t31.0-8/p960x960/22219716_608381019550596_2297534605230636163_o.jpg?_nc_cat=110&_nc_ohc=lA8pbLSbvwgAQl0PFfElk7KuE4BPlGutDsFSYmgGDsyVk8kkE5GOYs33Q&_nc_ht=scontent.fsgn2-3.fna&oh=f591ed80150f718a08f29ef58b09d4fd&oe=5E85CC2B"
                        alt="">
                    <p style="font-weight: bold;">Vũ Ngọc Tuấn</p>
                    <p style="color: #686868; font-weight: bold; text-decoration: underline;">17521230</p>
                    <div class="icon_team_member d-inline">
                        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="max-width-img"
                        src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.15752-9/78411500_445092303072090_6095798958104248320_n.jpg?_nc_cat=110&_nc_ohc=nR_aMiY6roQAQkuFwUET9quQhwxuraRo7_QK9rDw67MSVb2thJeIVDhUA&_nc_ht=scontent.fsgn2-3.fna&oh=5ddc9581d4ace7942b6bf444bb592e3d&oe=5E86F84E"
                        alt="">
                    <p style="font-weight: bold;">Lê Văn Hoàng</p>
                    <p style="color: #686868; font-weight: bold; text-decoration: underline;">17520509</p>
                    <div class="icon_team_member d-inline">
                        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>


            </div>
        </div>
    </div>
