

<div class="container footer-section" id="footer">
        <div class="row" style="overflow: hidden;">
            <div class="col-lg-3 col-md-4 col-sm-5 col-12 mt-5 mb-3">
                
                <ul>
                    <li>
                        <span><i class="fa fa-address-book" aria-hidden="true"></i></span>
                        <p>Ktx khu A, kp6, phường Linh Trung</p>
                    </li>
                    <li>
                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <p>00000000</p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <a href="mailto: abc@example.com">tuandeptrai@gmail.com</a>
                    </li>
                    <li>
                        <span><i class="fa fa-skype" aria-hidden="true"></i></span>
                        <a href="skype:username?call">freshFruit</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3 col-6 mt-5 mb-3">
                <h3>Menu</h3>
                <ul>
                    <li><a href="/" class="actived">Trang chủ</a></li>
                    <li><a href="/page/gioi-thieu">Giới thiệu</a></li>
                    <li><a href="/page/cua-hang">Cửa hàng</a></li>
                    <li><a href="/page/tham-khao">Tham khảo</a></li>
                    <li><a href="/page/lien-he">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3 col-6 mt-5 mb-3 ">
                <h3>Products</h3>
                <ul>
                    <li><a href="">Rau củ</a></li>
                    <li><a href="">Trái cây</a></li>
                    <li><a href="">Đồ uống</a></li>
                    <li><a href="">Đồ khô</a></li>
                </ul>
            </div>
            <div class="col-lg-3 d-none  d-lg-block mt-5 mb-3">
                <h3>About Us</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid detail-footer-section">
        <i class="fa fa-copyright" aria-hidden="true"></i> <span style="color: inherit;">All Rights Reserved </span>
    </div>
    