
    <div class="left-product-list">
        <div class="title">
            <span>sản phẩm</span>
        </div>
        <ul>
            <li>
                <a href="">
                    <div class="left">
                        <img class="imgWidth"
                            src="http://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-9-470x470-300x300.jpg"
                            alt="">
                    </div>
                    <div class="right">
                        <span>Nho Xanh</span>
                        <p>320,000 <u>đ</u></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="left">
                        <img class="imgWidth"
                            src="http://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-9-470x470-300x300.jpg"
                            alt="">
                    </div>
                    <div class="right">
                        <span>Nho Xanh</span>
                        <p>320,000 <u>đ</u></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="left">
                        <img class="imgWidth"
                            src="http://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-9-470x470-300x300.jpg"
                            alt="">
                    </div>
                    <div class="right">
                        <span>Nho Xanh</span>
                        <p>320,000 <u>đ</u></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="left">
                        <img class="imgWidth"
                            src="http://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-9-470x470-300x300.jpg"
                            alt="">
                    </div>
                    <div class="right">
                        <span>Nho Xanh</span>
                        <p>320,000 <u>đ</u></p>
                    </div>
                </a>
            </li>

        </ul>
    </div>