<div class="baiViet">
        <a href="">
            <div class="post ">
                <div class="pic">
                    <img class="imgWidth "
                        src="http://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/59406586_277022679721039_6026262764271054419_n-300x300.jpg"
                        alt="">
                </div>
                <div class="date text-center">
                    <span>16</span>
                    <p>Th5</p>
                </div>
                <div class="content ">
                    <h5>Nấm vân chi có tác dụng gì?</h5>
                    <div class="gachKe"></div>
                    <div class="noiDung">
                        <p>Cách đây hơn 2000 năm, nấm vân chi rừng đã được biết đến và sử ...</p>
                    </div>
                </div>
            </div>
        </a>
    </div>