
<div class="item-product-card">
    <div class="pic"><a href=""><img class="img-width"
                src="http://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-3-470x470.jpg"
                alt=""></a>
    </div>

    <div class="text">
        <div class="content">
            <a href="">Xoài</a>
        </div>

        <p>180,000 <u>đ</u> </p>
    </div>
</div>

