
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Web rau củ quả </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <span>Danh Sách Sản Phẩm</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <% categorys.forEach(item=>{%>
            <a class="collapse-item" href=<%= `/admin/san-pham/danh-sach-san-pham/${item.id}` %> ><%=item.name %></a>
          <%}) %>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/san-pham/them-san-pham"  aria-expanded="true" >
        <span>Thêm sản phẩm</span>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/danh-muc/danh-sach"  aria-expanded="true" >
          <span>Danh sách Danh mục</span>
        </a>
      </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/tham-khao/danh-sach-bai-viet"  aria-expanded="true" >
        <span>Danh sách bài viết</span>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/tham-khao/them-bai-viet"  aria-expanded="true" >
          <span>Thêm bài viết</span>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/dat-hang/danh-sach-don-hang"  aria-expanded="true" >
        <span>Danh sách đơn đặt hàng</span>
      </a>
  </li>
   
</ul>